# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# Windows AppData files
AppData/
AppData/Local/
AppData/Local/Google/
AppData/Local/Microsoft/
AppData/Local/Microsoft/Windows/
AppData/Local/Microsoft/Windows/INetCache/
AppData/Local/Microsoft/Windows/WebCache/
AppData/Local/Microsoft/Windows/History/
AppData/Local/Microsoft/Windows/Temporary Internet Files/
